<!-- footer section -->

<section id="footer">
  <i class="footer-icon fab fa-twitter foot-resizing"><a href="www.google.com"></a></i>
  <i class="footer-icon fab fa-facebook-f foot-resizing"><a href=""></a></i>
  <i class="footer-icon fab fa-instagram foot-resizing"><a href=""></a></i>
  <i class="footer-icon fas fa-envelope foot-resizing"><a href=""></a></i>
  <p>© Copyright 2018 </p>
</section>
<script src="index.js" charset="utf-8"></script>
</body>

</html>
