<!-- footer section -->
<section id="footer" style="background-color: #4b4b4b;">
  <footer id="colorlib-footer" role="contentinfo">		
    <div class="copy">
      <div class="row">
        <div class="col-md-12 text-center">
          <i style="color: cornsilk" class="footer-icon fab fa-twitter foot-resizing"><a href="www.google.com"></a></i>
          <i style="color: cornsilk" class="footer-icon fab fa-facebook-f foot-resizing"><a href=""></a></i>
          <i style="color: cornsilk" class="footer-icon fab fa-instagram foot-resizing"><a href=""></a></i>
          <i style="color: cornsilk" class="footer-icon fas fa-envelope foot-resizing"><a href=""></a></i>
          <p>
            <span class="block"><a href="../impressum" style="color: cornsilk;">Impressum</a> |  <a href="../datenschutz" style="color: cornsilk;"> Datenschutz</a></span> <br><!-- Verlinkung zum Impressus und Datenschutz -->
            <span class="block" style="color: cornsilk;">
              Copyright &copy;<script>document.write(new Date().getFullYear());</script><br>Alle Rechte vorbehalten
              </span><br>
          </p>
        </div>
      </div>
    </div>
  </footer>
  </section>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/js/index.js"></script>
  </body>
  
  </html>
