<!doctype html>
<html lang="en">

  <%- include('inits')%>
<body>

  <section id="title">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">CineWorld</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/films">Programm</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pricing">Preisliste</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Kontakt</a>
          </li>
          <li>
            <div class="">
                 
            </div>
          </li>
        </ul>

      </div>

   <div class="container h-100" id="divSearch">
        <form  method="post" action="/searchBar">
          <div class="d-flex justify-content-center h-100">
            <div class="searchbar">
               <input class="search_input" type="text" name="film" placeholder="Search...">
            <button type="submit" class="btn btn-outline-dark btn-block btn-lg" id="btnFetch">Search</button>
            </div>
          </div>
        </form>
      </div>
    </nav>

  </section>
