<% if (loggedin) {%>
    <%-include("partials/secondaryHeader") %> <%} else {%> <%-include("partials/header") %> <%} %>
  
  <%- include("partials/goToTop") %> 

<div style="text-align: left!important";>
    <div class="container">
        <div class="row">
        
               <div class="sidebar">
                    <div class="side">
                        <div class="fancy-collapse-panel">
                      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                          <h1 style="text-align: center;">Datenschutz</h1><br> <h2>Verantwortliche</h2> <p>CineWorld GmbH | Lea Noll | Hendrik Riedel | Manuel Meixner | Munir | Mohammed | Patrick Hohnert | Oliver G&auml;rtner | Saleh Chaaban<br/>
                        Coblitzallee 1<br /> 68163 Mannheim</p><p>Telefon: +49 (0) 123 456 789<br /> E-Mail: info@cineworld.de<br />www.cineworld.de</p>

                        <h2>Zuständige Behörde</h2>
                        <p>Der Hessische Datenschutzbeauftragte<br>
                            Postfach 3163<br>
                            65021 Wiesbaden<br>
                            Poststelle@datenschutz.hessen.de<br>
                            Telefon: +49 611 1408 - 0<br>
                            Telefax: +49 611 1408 - 611<br>
                            https://datenschutz.hessen.de/<br>
                        </p>

                        <h2>Datenschutz</h2>
                        <p>
                            Die Betreiber dieser Seiten nehmen den Schutz Ihrer persönlichen Daten sehr ernst. Wir behandeln Ihre personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser Datenschutzerklärung.<br>

                            Die Nutzung unserer Website ist in der Regel ohne Angabe personenbezogener Daten möglich. Soweit auf unseren Seiten personenbezogene Daten <br>(beispielsweise Name, Anschrift oder E-Mail-Adressen) erhoben werden, erfolgt dies, soweit möglich, stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht an Dritte weitergegeben.<br>

                            Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.<br>

                        </p>

                        <h2>Cookies</h2>
                        <p>
                            Die Internetseiten verwenden teilweise so genannte Cookies. Cookies richten auf Ihrem Rechner keinen Schaden an und enthalten keine Viren. Cookies dienen dazu,<br> unser Angebot nutzerfreundlicher, effektiver und sicherer zu machen. <br>Cookies sind kleine Textdateien, die auf Ihrem Rechner abgelegt werden und die Ihr Browser speichert.<br>

                            Die meisten der von uns verwendeten Cookies sind so genannte „Session-Cookies“. Sie werden nach
                            Ende Ihres Besuchs automatisch gelöscht. Andere Cookies bleiben auf Ihrem Endgerät gespeichert, bis Sie diese löschen. Diese Cookies ermöglichen es uns, Ihren Browser beim nächsten Besuch
                            wiederzuerkennen.<br>

                            Sie können Ihren Browser so einstellen, dass Sie über das Setzen von Cookies informiert werden und
                            Cookies nur im Einzelfall erlauben, die Annahme von Cookies für bestimmte Fälle oder generell
                            ausschließen sowie das automatische Löschen der Cookies beim Schließen des Browser aktivieren. <br>Bei der Deaktivierung von Cookies kann die Funktionalität dieser Website eingeschränkt sein.<br>

                        </p>

                        <h2>Recht auf Auskunft, Löschung, Sperrung</h2>
                        <p>
                            Sie haben jederzeit das Recht auf unentgeltliche Auskunft über Ihre gespeicherten personenbezogenen Daten, deren Herkunft und Empfänger und den Zweck der Datenverarbeitung sowie ein Recht auf Berichtigung, Sperrung oder Löschung dieser Daten. <br>Hierzu sowie zu weiteren Fragen zum Thema personenbezogene Daten können Sie sich jederzeit unter der im Impressum angegebenen Adresse an uns wenden. <br>Weiteres unter „Rechte der betroffenen Person“.	<br>
                        </p>

                        <h2>Benutzerkonto / Registrierungsfunktion</h2>
                        <p>
                            Um über dieses Angebot Bestellungen tätigen zu können, muss jeder Kunde ein passwortgeschütztes Kundenkonto einrichten. Dieses beinhaltet eine Übersicht über getätigte Bestellungen und aktive Bestellvorgänge. Sofern Sie als Kunde den Onlineshop verlassen, werden Sie automatisch ausgeloggt.
                            Der Betreiber übernimmt keine Haftung für Passwortmissbrauch, sofern dieser nicht von dem Betreiber selbst verursacht wurde.
                            <br>Die im Zuge dieser Registrierung eingegebenen Daten, die aus der Eingabemaske des Registrierungsformular ersichtlich sind:<br><br>

                            Benutzername | Vorname | Name | Email |
                            Postleitzahl | Ort | Straße | Hausnummer | 
                            Kontonummer | Institut<br><br>

                            werden ausschließlich für die Verwendung unseres Angebots erhoben und gespeichert. Mit Ihrer Registrierung auf unserer Seite werden wir zudem Ihre IP-Adresse und das Datum sowie die Uhrzeit Ihrer Registrierung speichern. Dies dient in dem Fall, dass ein Dritter Ihre Daten missbraucht und sich mit diesen Daten ohne Ihr Wissen auf unserer Seite registriert, als Absicherung unsererseits.  Eine Weitergabe an Dritte erfolgt nicht. Ein Abgleich der so erhobenen Daten mit Daten, die möglicherweise durch andere Komponenten unserer Seite erhoben werden, erfolgt ebenfalls nicht.

                        </p>

                        <h2>Datenerhebung und -verwendung zur Vertragsabwicklung und bei Eröffnung eines Kundenkontos</h2>
                        <p>
                            Wir erheben personenbezogene Daten, wenn Sie uns diese im Rahmen Ihrer Bestellung, bei einer Kontaktaufnahme mit uns (z.B. per Kontaktformular oder E-Mail) oder bei Eröffnung eines Kundenkontos freiwillig mitteilen. Welche Daten erhoben werden, ist aus den jeweiligen Eingabeformularen ersichtlich. Wir verwenden die von Ihnen mitgeteilten Daten zur Vertragsabwicklung und Bearbeitung Ihrer Anfragen. Nach vollständiger Abwicklung des Vertrages oder Löschung Ihres Kundenkontos werden Ihre Daten für die weitere Verwendung gesperrt und nach Ablauf der steuer- und handelsrechtlichen Aufbewahrungsfristen gelöscht, sofern Sie nicht ausdrücklich in eine weitere Nutzung Ihrer Daten eingewilligt haben oder wir uns eine darüber hinausgehende Datenverwendung vorbehalten, die gesetzlich erlaubt ist und über die wir Sie nachstehend informieren. Die Löschung Ihres Kundenkontos ist jederzeit möglich und kann entweder durch eine Nachricht an die unten beschriebene Kontaktmöglichkeit oder über eine dafür vorgesehene Funktion im Kundenkonto erfolgen.
                        </p>

                        <h2>Bestellvorgang</h2>
                        <p>
                            Jene Daten, welche zur Auslieferung oder Auftragsabwicklung zwingend notwendig sind, werden an dritte Dienstleister weitergegeben. Sowie die Aufbewahrung Ihrer Daten nicht mehr erforderlich oder gesetzlich geboten ist, werden diese gelöscht.	
                        </p>

                        <h2>Einsatz von PayPal als Zahlungsart</h2>
                        <p>
                            Sollten Sie sich im Rahmen Ihres Bestellvorgangs für eine Bezahlung mit dem Online-Zahlungsdienstleister PayPal entscheiden, werden im Rahmen der so ausgelösten Bestellung Ihre Kontaktdaten an PayPal übermittelt. PayPal ist ein Angebot der PayPal (Europe) S.à.r.l. and Cie. S.C.A., 22-24 Boulevard Royal, L-2449 Luxembourg. PayPal übernimmt dabei die Funktion eines Online-Zahlungsdienstleisters sowie eines Treuhänders und bietet Käuferschutzdienste an.<br>

                            Bei den an PayPal übermittelten personenbezogenen Daten handelt es sich zumeist um Vorname, Nachname, Adresse, Telefonnummer, IP-Adresse, E-Mail-Adresse, oder andere Daten, die zur Bestellabwicklung erforderlich sind, als auch Daten, die im Zusammenhang mit der Bestellung stehen, wie Anzahl der Artikel, Artikelnummer, Rechnungsbetrag und Steuern in Prozent, Rechnungsinformationen, usw.<br>


                            Diese Übermittelung ist zur Abwicklung Ihrer Bestellung mit der von Ihnen ausgewählten Zahlungsart notwendig, insbesondere zur Bestätigung Ihrer Identität, zur Administration Ihrer Zahlung und der Kundenbeziehung.<br>


                            Bitte beachten Sie jedoch: Personenbezogenen Daten können seitens PayPal auch an Leistungserbringer, an Subunternehmer oder andere verbundene Unternehmen weitergegeben werden, soweit dies zur Erfüllung der vertraglichen Verpflichtungen aus Ihrer Bestellung erforderlich ist oder die personenbezogenen Daten im Auftrag verarbeitet werden sollen.<br>


                            Abhängig von der über PayPal ausgewählten Zahlungsart, z.B. Rechnung oder Lastschrift, werden die an PayPal übermittelten personenbezogenen Daten von PayPal an Wirtschaftsauskunfteien übermittelt. Diese Übermittlung dient der Identitäts- und Bonitätsprüfung in Bezug auf die von Ihnen getätigte Bestellung. Um welche Auskunfteien es sich hierbei handelt und welche Daten von PayPal allgemein erhoben, verarbeitet, gespeichert und weitergegeben werden, entnehmen Sie der Datenschutzerklärung von PayPal unter <br><a href="https://www.paypal.com/de/webapps/mpp/ua/privacy-full">https://www.paypal.com/de/webapps/mpp/ua/privacy-full</a>.<br>

                        </p>

                        <h2>Einsatz von Sofortüberweisung als Zahlungsart</h2>
                        <p>
                            Sollten Sie sich im Rahmen Ihres Bestellvorgangs für eine Bezahlung mit dem Online-Zahlungsdienstleister Sofortüberweisung entscheiden, werden im Rahmen der so ausgelösten Bestellung Ihre Kontaktdaten an Sofortüberweisung übermittelt. Sofortüberweisung ist ein Angebot der SOFORT GmbH, Theresienhöhe 12, 80339 München, Deutschland. Sofortüberweisung übernimmt dabei die Funktion eines Online-Zahlungsdienstleisters, der eine bargeldlose Zahlung von Produkten und Dienstleistungen im Internet ermöglicht.<br>

                            Bei den an Sofortüberweisung übermittelten personenbezogenen Daten handelt es sich zumeist um Vorname, Nachname, Adresse, Telefonnummer, IP-Adresse, E-Mail-Adresse, oder andere Daten, die zur Bestellabwicklung erforderlich sind, als auch Daten, die im Zusammenhang mit der Bestellung stehen, wie Anzahl der Artikel, Artikelnummer, Rechnungsbetrag und Steuern in Prozent, Rechnungsinformationen, usw.<br>

                            Diese Übermittelung ist zur Abwicklung Ihrer Bestellung mit der von Ihnen ausgewählten Zahlungsart notwendig, insbesondere zur Bestätigung Ihrer Identität, zur Administration Ihrer Zahlung und der Kundenbeziehung.<br>

                            Bitte beachten Sie jedoch: Personenbezogenen Daten können seitens Sofortüberweisung auch an Leistungserbringer, an Subunternehmer oder andere verbundene Unternehmen weitergegeben werden, soweit dies zur Erfüllung der vertraglichen Verpflichtungen aus Ihrer Bestellung erforderlich ist oder die personenbezogenen Daten im Auftrag verarbeitet werden sollen.<br>

                            Unter Umständen werden die an Sofortüberweisung übermittelten personenbezogenen Daten von Sofortüberweisung an Wirtschaftsauskunfteien übermittelt. Diese Übermittlung dient der Identitäts- und Bonitätsprüfung in Bezug auf die von Ihnen getätigte Bestellung.<br>

                            Welche Datenschutzgrundsätze Sofortüberweisung bei der Verarbeitung Ihrer Daten zugrunde legt, können Sie den Datenschutzhinweisen entnehmen, die Ihnen während des Zahlungsvorgangs von Sofortüberweisung angezeigt werden.<br>

                            Bei weiteren Fragen zur Verwendung Ihrer personenbezogenen Daten können Sie sich an Sofortüberweisung per E-Mail (datenschutz@sofort.com) oder schriftlich <br>(SOFORT GmbH, Datenschutz, Theresienhöhe 12, 80339 München) wenden.<br>

                        </p>

                        <h2>Datenweitergabe zur Vertragserfüllung</h2>
                        <p>
                            Zur Vertragserfüllung geben wir Ihre Daten an das mit der Lieferung beauftragte Versandunternehmen weiter, soweit dies zur Lieferung bestellter Waren erforderlich ist. Je nach dem, welchen Zahlungsdienstleister Sie im Bestellprozess auswählen, geben wir zur Abwicklung von Zahlungen die hierfür erhobenen Zahlungsdaten an das mit der Zahlung beauftragte Kreditinstitut und ggf. von uns beauftragte Zahlungsdienstleister weiter bzw. an den ausgewählten Zahlungsdienst. Zum Teil erheben die ausgewählten Zahlungsdienstleister diese Daten auch selbst, soweit Sie dort ein Konto anlegen. In diesem Fall müssen Sie sich im Bestellprozess mit Ihren Zugangsdaten bei dem Zahlungsdienstleister anmelden. <br>Es gilt insoweit die Datenschutzerklärung des jeweiligen Zahlungsdienstleisters.<br>	
                        </p>

                        <h2>Rechte der betroffenen Person:</h2>
                        <p>
                            
                        </p>

                        <h2>Auskunftsrecht</h2>
                        <p>
                            Die betroffene Person kann von dem Verantwortlichen eine Bestätigung darüber verlangen, ob dort sie betreffende personenbezogene Daten verarbeitet werden. Ist dies der Fall, <br>so hat die betroffene Person bezüglich dieser personenbezogenen Daten ein Recht auf Auskunft über:<br><br>
                            -	Verarbeitungszwecke,<br>
                            -	Kategorien personenbezogener Daten, die verarbeitet werden,<br>
                            -	Empfänger oder Kategorien von Empfängern, denen die personenbezogenen Daten offengelegt werden, insbesondere Drittländer,<br>
                            -	soweit möglich über die geplante Speicherdauer, ansonsten Kriterien für die Festlegung der Dauer,<br>
                            -	Informationen über die Rechte auf Berichtigung, Löschung, Einschränkung der Verarbeitung sowie über ein Widerspruchsrecht gegen die Verarbeitung,<br>
                            -	über das Beschwerderecht bei der Aufsichtsbehörde,<br>
                            -	über die Herkunft der Daten, soweit diese nicht von der betroffenen Person selbst erhoben wurden,<br>
                            -	soweit zutreffend über das Bestehen einer automatisierten Entscheidungsfindung einschließlich Profiling,<br>
                            -	wenn Übermittlung an Drittländer/internationale Organisation, dann Unterrichtung über die geeigneten Garantien gemäß Art. 46 DS-GVO<br>

                        </p>

                        <h2>Recht auf Berichtigung</h2>
                        <p>
                            Die betroffene Person hat das Recht, von dem Verantwortlichen unverzüglich die Berichtigung der sie betreffenden personenbezogenen Daten zu verlangen, wenn die unrichtig sind. Unter Berücksichtigung der Zwecke der Verarbeitung hat die betroffene Person das Recht, die Vervollständigung unvollständiger personenbezogener Daten <br>– auch mittels einer ergänzenden Erklärung – zu verlangen.
                        </p>

                        <h2>Recht auf Löschung, Recht auf Vergessenwerden</h2>
                        <p>
                            Die betroffene Person hat das Recht, von dem Verantwortlichen zu verlangen, dass sie betreffende Daten unverzüglich gelöscht werden, <br>wenn folgende Gründe vorliegen (Art. 17 Abs. 1 DS-GVO):<br><br>

                            -	Daten sind für die Zwecke, für die sie erhoben oder auf sonstige Weise verarbeitet wurden, nicht mehr notwendig,<br>
                            -	die betroffene Person widerruft ihre Einwilligung (Art. 6 Abs. 1 a oder Art. 9 Abs. 2 a DS-GVO) und es fehlt an einer anderweitigen Rechtsgrundlage für die Verarbeitung,<br>
                            -	die betroffene Person legt Widerspruch gegen die Verarbeitung ein und es liegen keine vorrangigen, berechtigten Gründe für die weitere Verarbeitung vor,<br>
                            -	die personenbezogenen Daten wurden unrechtmäßig verarbeitet,<br>
                            -	die Löschung der personenbezogenen Daten ist aufgrund eines spezielleren Gesetzes erforderlich, d. h. zur Erfüllung einer rechtlichen Verpflichtung nach dem Unionsrecht oder dem Recht der Mitgliedstaaten, dem der Verantwortliche unterliegt,
                            <br>
                            -	die personenbezogenen Daten wurden in Bezug auf direkt gegenüber einem Kind angebotene Dienste der Informationsgesellschaft erhoben.<br>

                        </p>

                        <h2>Öffentlich gemachte personenbezogene Daten</h2>
                        <p>
                            Hat der Verantwortliche die personenbezogenen Daten öffentlich gemacht und ist er zur Löschung verpflichtet (Art. 17 Abs. 1 DS-GVO), muss er unter Berücksichtigung der verfügbaren Technologien und der Implementierungskosten angemessene Maßnahmen, auch technischer Art treffen, um für die Datenverarbeitung Verantwortliche, die die personenbezogenen Daten verarbeiten, darüber zu informieren, dass eine betroffene Person von ihnen die Löschung aller Links zu diesen personenbezogene Daten oder von Kopien oder Replikationen dieser personenbezogenen Daten verlangt hat.	<br>
                        </p>

                        <h2>Ausnahmen von der Löschpflicht</h2>
                        <p>
                            Es besteht für den Verantwortlichen keine Pflicht zur Löschung, wenn die weitere Speicherung der personenbezogenen Daten aus einem der folgenden Gründe erforderlich ist:<br><br>

                            -	Ausübung des Rechts auf freie Meinungsäußerung und Information,<br>
                            -	Erfüllung einer rechtlichen Verpflichtung, die die Verarbeitung nach dem Recht der Union oder der Mitgliedstaaten erfordert oder zur Wahrung einer im öffentlichen Interesse liegenden Aufgabe oder in Ausübung öffentlicher Gewalt, die den 		Verantwortlichen übertragen wurde,<br>
                            -	Gründe des öffentlichen Interesses im Bereich der öffentlichen Gesundheit,<br>
                            -	im öffentliche Interesse liegende Archivzwecke, wissenschaftliche oder historische Forschungszwecke oder statistische Zwecke,<br>
                            -	Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen<br>

                        </p>

                        <h2>Recht auf Einschränkung der Verarbeitung</h2>
                        <p>
                            Unter „Einschränkung der Verarbeitung“ sind nach den Erwägungsgründen Methoden zur Beschränkung der Verarbeitung personenbezogener Daten zu verstehen, z. B. dass ausgewählte personenbezogene Daten vorübergehend auf ein anderes Verarbeitungssystem übertragen werden, dass sie für Nutzer gesperrt werden oder dass veröffentlichte Daten vorübergehend von einer Webseite entfernt werden. Die betroffene Person hat das Recht, von dem Verantwortlichen diese Einschränkung der Verarbeitung zu verlangen, wenn die nachfolgend aufgezählten Voraussetzungen vorliegen:<br><br>

                            -	Die Richtigkeit der personenbezogenen Daten wird von der betroffenen Person bestritten, und zwar für eine Dauer, die es dem Verantwortlichen ermöglicht, <br>die Richtigkeit der Daten zu überprüfen,<br>
                            -	die Verarbeitung ist unrechtmäßig und die betroffene Person lehnt die Löschung der Daten ab und verlangt stattdessen eine Einschränkung der Nutzung,<br>
                            -	der Verantwortliche benötigt die personenbezogenen Daten nicht länger für die Zwecke der Verarbeitung, die betroffene Person benötigt diese jedoch zur Geltendmachung, <br>Ausübung oder Verteidigung von Rechtsansprüchen,<br>
                            -	die betroffene Person hat Widerspruch gegen eine auf berechtigte Interessen des Verantwortlichen gestützte Verarbeitung eingelegt und es steht noch nicht fest, <br>ob die berechtigten Gründe des Verantwortlichen gegenüber denen der betroffenen Person überwiegen.<br><br>

                            Wurde die Verarbeitung auf Antrag des Betroffenen eingeschränkt, so dürfen diese personenbezogenen Daten – mit Ausnahme ihrer Speicherung – nur mit Einwilligung der betroffenen Person oder zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen oder zum Schutz der Rechte einer natürlichen oder juristischen Person oder aus Gründen eines wichtigen öffentlichen Interessen der Union oder eines Mitgliedsstaates verarbeitet werden. Außerdem muss der Verantwortliche die betroffene Person vor Aufhebung der Einschränkung unterrichten (Art. 18 Abs. 3 DS-GVO).<br>

                        </p>

                        <h2>Recht auf Datenübertragbarkeit</h2>
                        <p>
                            Eine betroffene Person, die einem Verantwortlichen sie betreffende personenbezogene Daten bereitgestellt hat, hat das Recht, diese Daten – in einem strukturierten, gängigen und maschinenlesbaren Format zu erhalten. Darüber hinaus ist die betroffene Person berechtigt, diese Daten einem anderen Verantwortlichen ohne Behinderung durch den Verantwortlichen, dem die personenbezogenen Daten ursprünglich bereitgestellt wurden, zu übermitteln. Dies gilt allerdings nur, sofern die Verarbeitung<br><br>

                            -	auf einer Einwilligung oder einem Vertrag beruht und<br>
                            -	mit Hilfe automatisierter Verfahren erfolgt.<br><br>

                            Der Betroffene kann also erwirken, dass die personenbezogenen Daten direkt von einem Verantwortlichen übermittelt werden, soweit dies technisch möglich ist.<br>
                            Ausnahmen gelten, wenn die Verarbeitung zur Wahrnehmung einer Aufgabe erfolgt, die im öffentlichen Interesse liegt oder in Ausübung öffentlicher Gewalt erfolgt, <br>die dem Verantwortlichen übertragen wurde. Ferner dürfen die Rechte und Freiheiten anderer Personen durch die Ausübung nicht beeinträchtigt werden.<br>

                        </p>

                        <h2>Recht auf Widerspruch</h2>
                        <p>
                            Die betroffene Person kann einer Verarbeitung durch den Verantwortlichen jederzeit widersprechen, wenn die Verarbeitung auf Art. 6 Abs. 1 e oder f DS-GVO (Aufgabe im öffentlichen Interesse oder in Ausübung öffentlicher Gewalt, oder zur Wahrung berechtigter Interessen des Verantwortlichen) erfolgt ist. Dies gilt auch auf ein darauf gestütztes Profiling. <br>Eine fortdauernde Verarbeitung durch den Verantwortlichen ist nicht zulässig, außer er kann<br><br>

                            -	zwingende schutzwürdige Gründe für die Verarbeitung nachweisen, die die Interessen, Rechte und Freiheiten der betroffenen Person überwiegen oder<br>
                            -	die Verarbeitung dient der Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen<br><br>

                            Im Fall der Direktwerbung findet keine Interessenabwägung statt. Ein Widerspruch führt zu einem sofortigen Verarbeitungsstopp. Bei einer Verarbeitung zu wissenschaftlichen oder historischen Forschungszwecken oder zu statistischen Zwecken führt der Widerspruch ebenfalls zu einem Verarbeitungsstopp, es sei denn, die Verarbeitung ist zur Erfüllung einer im öffentlichen Interesse liegenden Aufgabe erforderlich (Art. 21 Abs. 6 DS-GVO).<br>

                            Auf sein Widerspruchsrecht muss der Betroffene spätestens zum Zeitpunkt der ersten Kommunikation ausdrücklich sowie in einem verständlichen und von anderen Informationen getrennter Form hingewiesen werden.<br>

                        </p>

                        <h2>Automatisierte Entscheidung im Einzelfall</h2>
                        <p>
                            Die betroffene Person hat das Recht, nicht einer ausschließlich auf einer automatisierten Verarbeitung – einschließlich Profiling – beruhenden Entscheidung unterworfen zu werden, die ihr gegenüber rechtliche Wirkung entfaltet oder sie in ähnlicher Weise erheblich beeinträchtigt. Dabei hat die betroffene Person insbesondere das Recht auf Eingreifen einer Person seitens des Verantwortlichen, auf Darlegung des eigenen Standpunkts und auch Anfechtung der Entscheidung. <br>Das Recht, nicht eine ausschließlich auf einer automatisierten Verarbeitung beruhenden Entscheidung unterworfen zu werden, gilt nicht, wenn die Entscheidung<br><br>

                            -	für den Abschluss oder die Erfüllung eines Vertrages zwischen der betroffenen Person und dem Verantwortlichen erforderlich ist<br>
                            -	aufgrund von Rechtsvorschriften der Union oder der Mitgliedsstaaten denen der Verantwortliche unterliegt, zulässig ist und diese Rechtsvorschriften angemessene Maßnahmen zur Wahrung der Rechte und Freiheiten sowie der berechtigten Interessen der betroffenen Person enthalten oder<br>
                            -	mit ausdrücklicher Einwilligung der betroffenen Person erfolgt.<br>

                        </p>

                        <h2>Recht auf Beschwerde</h2>
                        <p>
                            Jede betroffene Person hat unbeschadet eines anderweitigen verwaltungsrechtlichen oder gerichtlichen Rechtsbehelfs das Recht auf Beschwerde bei einer Aufsichtsbehörde, insbesondere in dem Mitgliedstaat ihres Aufenthaltsorts, ihres Arbeitsplatzes oder des Orts des mutmaßlichen Verstoßes, wenn die betroffene Person der Ansicht ist, dass die Verarbeitung der sie betreffenden personenbezogenen Daten gegen diese Verordnung verstößt.
                        </p>
                       </div>
                   </div>
               </div>
           </div>    						
    </div>
</div>
</div>


<%- include('partials/footer') %>