<!--
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>MovieInfo</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/cyborg/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
<body>
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a href="index.html">MovieInfo</a>
        </div>
    </div>
</nav>
<div class="col-md-3>
                 <div class= well text-center">
    <img src="${movie.photo}">
    <h5>${movie.title}</h5>
    <a onclick="movieSelected('${movie.title}')" class="btn btn-primary" href="#">Movie Details</a>
</div>
</div>
<div class="container">
    <div class="jumbotron">
        <h3 clss="text-center"> Search for any movie</h3>
        <form id="searchForm">
            <input type="text" class="form-control" id="searchTxt" placeholder="search movie">
        </form>
    </div>
</div>
<div class="container">
    <div id="movies" class="row"></div>
</div>
<script
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="js/index.js"></script>
</body>
</html>
-->