<% if (loggedin) {%>
    <%-include("partials/secondaryHeader") %> <%} else {%> <%-include("partials/header") %> <%} %>
  
  <%- include("partials/goToTop") %> 

<aside>
    <div id="wrapper">    
        <div id="yourdiv"><h1>Bezahlung</h1></div>
    </div>
</aside>


<div class="colorlib-shop">
    <div class="container">
        <div class="row row-pb-lg">
            <div class="col-md-12 col-md-offset-1">
                <div class="process-wrap">
                    <div class="process text-center active">
                        <p><span calss="icon"><i class="icon-search2"></i></span></p>
                        <h3>Sitzplatzauswahl</h3>
                    </div>
                    <div class="process text-center active">
                        <p><span calss="icon"><i class="icon-dollar-sign" style="color: red;"></i></span></p>
                        <h3>Bezahlung</h3>
                    </div>
                    <div class="process text-center active">
                        <p><span calss="icon"><i class="icon-warning2"></i></span></p>
                        <h3>Fehler</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-md-offset-1 text-center" style="margin-top: 10px;">
                <span class="icon"><i class="icon-warning2"></i></span>
                <h2>Leider war die Buchung nicht erfolgreich! </h2>
                <h4>Probieren Sie es zu einem spätreren Zeitpunkt erneut.</h4>
                
                    <div lass="col-md-12 col-md-offset-1 text-center">
                    <a href="/"><button class ="checkout" style="color:black">Zur Startseite</button></a> <!-- Verlinkung zum Index -->
                    <a href="/films"><button class ="checkout" style="color:black">Zum den Filmen</button></a> <!-- Verlinkung zum Konto -->
                </div>
            </div>
        </div>
    </div>
</div>

  
<%- include("partials/footer") %>